:root {
    --black: #121212;
    --white: #eee;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    gap: 100px;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    letter-spacing: 0.1rem;
    background-color: var(--black);
    color: var(--white);
}

header {
    margin-top: 50px;
}

button {
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 2%;
    padding: 10px;
    font-size: 21px;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    letter-spacing: 0.1rem;
    transition: 200ms;
}

button:hover {
    box-shadow: 0px 0px 5px 3px var(--white);
    transform: scale(1.02);
}

.line {
    background-color: var(--white);
    width: 40%;
    height: 2px;
    margin: 10px 0;
}

.exc-line {
    margin: 10px 0;
    width: 80%;
}

#inputs-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.input-conts {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.input-btns {
    height: 60px;
    font-size: 26px;
    padding: 0px 25px;
    border-width: 2px;
    border-radius: 100vmax;
}

.input-btns-select {
    box-shadow: 0px 0px 8px 5px var(--white);
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    width: 90%;
}

.main-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
}

.excercise-cont {
    display: grid;
    grid-template-columns: 70% 50px 50px;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    height: 60px;
    gap: 10px;
}

.random-btn {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.random-btn:hover {
    box-shadow: 0px 0px 0px 1px var(--white);
}

.info-btn {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    padding: 0;
}

.info-btn:hover {
    box-shadow: 0px 0px 0px 1px var(--white);
}

.all-btns {
    margin-top: 30px;
    width: 170px;
}

h1 {
    font-size: 78px;
    margin-bottom: 0;
}

h2 {
    font-size: 36px;
    margin: 0px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    text-align: right;
}